<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <filter>
    <filter-name>ExceptionFilter</filter-name>
    <filter-class>io.instalint.daemon.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionFilter</filter-name>
    <url-pattern>/analyze</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>AnalyzerServlet</servlet-name>
    <servlet-class>io.instalint.daemon.AnalyzerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AnalyzerServlet</servlet-name>
    <url-pattern>/analyze</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
